# === Java / Gradle ===
.gradle/
build/
HELP.md
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# === IntelliJ ===
.idea/
*.iws
*.iml
*.ipr
out/

# === Spring Tools Suite (STS) ===
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === VS Code ===
.vscode/

# === Exceptions (allow these in Git) ===
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/
